@use "../base/breakpoints" as *;

#product .text--blue {
  text-transform: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @include breakpoint(md-tablet) {
    flex-direction: column;
    gap: 2rem;
  }

  &__main {
    // 106px is the rounded up height of the navbar
    // padding-top: calc(73px + 4rem);

    @include breakpoint(md-tablet) {
      flex-direction: column;
    }

    @include breakpoint(md-mobile) {
      gap: 2rem;
      padding: 8rem 1rem 0rem;
    }

    &--subnav {
      padding-top: 128px;
    }
  }

  &__contact {
    flex-direction: row;

    @include breakpoint(sm-desktop) {
      flex-direction: column;
    }
  }

  &__heading {
    line-height: .9;
    text-align: center;

    &--left {
      text-align: left;

      @include breakpoint(lg-tablet) {
        text-align: center;
      }
    }

    &--caps {
      text-transform: uppercase;
    }

    &--sm-width {
      max-width: 13ch;
    }

    emphasis {
      color: var(--blue-500);
    }

    &--bg-blur {
      &::after {
        position: absolute;
        z-index: -2;
        top: 2rem;
        left: 50%;
        width: 400px;
        height: 200px;

        content: "";
        transform: translateX(-50%);
        background-color: var(--blue-100);
        filter: blur(90px);

        @include breakpoint(lg-tablet) {
          width: 250px;
          height: 150px;
        }
      }
    }
  }

  &__subheading {
    @include breakpoint(lg-tablet) {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    width: 1080px;
    margin: 0 auto;

    @include breakpoint(lg-tablet) {
      width: 100%;
    }

    @include breakpoint(md-tablet) {
      flex-direction: column;
      padding: 0rem 2rem 18rem;
      gap: 0;
      align-items: center;
    }

    @include breakpoint(md-mobile) {
      gap: 2rem;
      padding: 0rem 1rem 15rem;
    }
  }

  &__left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 490px;

    @include breakpoint(md-tablet) {
      align-items: center;
      text-align: center;
      gap: 2rem;
      width: auto;
    }

    &--product {
      line-height: 1.2;
      margin-bottom: 5vh;
    }
  }

  &__right-side {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 50%;

    @include breakpoint(lg-tablet) {
      width: 300px;
    }

    @include breakpoint(md-tablet) {
      width: auto;

      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__video {
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-high);
    width: 100%;

    @include breakpoint(lg-tablet) {
      width: 300px;
      height: 190px;
    }
  }

  &__body {
    @include breakpoint(lg-tablet) {
      text-align: center;
      margin: 0 auto;
    }

    &--home {
      max-width: 55ch;

      @include breakpoint(lg-tablet) {
        max-width: 45ch;
      }

      @include breakpoint(sm-tablet) {
        max-width: 30ch;
      }
    }

    &--team {
      max-width: 45ch;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(lg-tablet) {
      align-items: center;
      text-align: center;
    }

    @include breakpoint(md-tablet) {
      gap: 2rem;
    }

    &__btn {
      padding: 5px 15px;
      color: white;
      background-color: var(--blue-500);
    }
  }

  &__3d-m300-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    &--i300 {
      height: 400px;

      @include breakpoint(md-mobile) {
        height: 300px;
      }
    }
  }

  &__3d-m300 {
    position: absolute;
    top: 9rem;
    left: 50%;
    height: 0;
    margin: 0 auto;
    padding: 0;
    transform: scale(.6) translateX(-50%);
    perspective: 1000px;
    --fan-tx: -175%;

    @include breakpoint(lg-tablet) {
      top: 10rem;
      transform: scale(.45) translateX(-50%);
    }

    @include breakpoint(sm-tablet) {
      top: 7rem;
      transform: scale(.4) translateX(-50%);
    }

    @include breakpoint(sm-mobile) {
      top: 7rem;
      transform: scale(.4) translateX(-50%);
    }

    *:not(:empty) {
      transform-style: preserve-3d;
    }

    &--large {
      position: relative;
      top: 0;
      transform: scale(.7);

      @include breakpoint(lg-tablet) {
        top: -3rem;
        left: -6rem;
        transform: scale(.5);
      }

      @include breakpoint(sm-tablet) {
        left: auto;
      }
    }
  }

  &__product-illustration {
    width: 400px;
    padding: 1rem;

    @include breakpoint(md-mobile) {
      width: 300px;
    }
  }

  &__product-photo {
    max-width: 800px;

    @include breakpoint(md-mobile) {
      max-width: 350px;
    }

    &--pdu {
      transform: translateX(-50px);

      @include breakpoint(md-mobile) {
        transform: translateX(-25px);
      }
    }
  }

  &__black-friday {
    position: absolute;
    transform: scale(1.5) translate(28px, -190px);

    @include breakpoint(lg-tablet) {
      transform: scale(1.3) translate(-17%, -215px);
    }

    @include breakpoint(md-tablet) {
      transform: scale(.8) translate(-65%, -325px);
    }

    @include breakpoint(md-mobile) {
      transform: scale(.9) translate(-60%, -235px);
    }
  }

  &__img {
    &-anchor {
      position: relative;

      &::after {
        position: absolute;
        z-index: -1;
        right: -90px;
        bottom: -10px;
        width: 120px;
        height: 120px;
        content: "";
        background-image: url(../images/illustrations/question-marks.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--contact {
      width: 250px;
    }

    &--press {
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      transform-origin: right top;

      @include breakpoint(sm-desktop) {
        opacity: 0.7;
      }

      @include breakpoint(md-tablet) {
        transform: scale(1.3);
      }

      @include breakpoint(md-mobile) {
        transform: scale(1.8);
      }
    }
  }

  &__event {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    padding: 5px 15px;
    transition: all 150ms ease-out;
    text-align: center;
    color: var(--blue-900);
    border: 1px solid var(--blue-200);
    border-radius: 100vh;
    background-color: var(--blue-50);

    @include breakpoint(md-mobile) {
      gap: .3rem;
    }

    &--disclaimer {
      border: 1px solid var(--yellow-500);
      background-color: var(--yellow-100);
    }
  }

  &__company {
    max-width: 400px;
  }

  &__partnership {
    background-image: url("../images/backgrounds/bg-vosk.svg");
    background-repeat: no-repeat;
    background-position: 55% 20%;

    @include breakpoint(lg-tablet) {
      background-position: 52.5% 23%;
    }

    @include breakpoint(md-tablet) {
      background-position: 51% 24.5%;
    }

    @include breakpoint(sm-tablet) {
      background-position: 50.5% 26%;
    }

    h1 {
      font-family: "Right Grotesk Spatial Fine", Inter, Roboto, sans-serif;
      font-size: 1.25rem;
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #000;
    }
  }
}