@use "../base/breakpoints" as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @include breakpoint(md-tablet) {
    flex-direction: column;
    gap: 2rem;
  }

  &__main {
    padding-top: calc(107px + 4rem); // 107px is the height of the topbar and navbar combined

    @include breakpoint(md-tablet) {
      flex-direction: column;
      padding: 2rem 2rem 2rem;
    }

    @include breakpoint(md-mobile) {
      gap: 2rem;
      padding: 8rem 1rem 0rem;
    }
  }

  &__turnkey {
    padding-top: calc(107px + 4rem); // 107px is the height of the topbar and navbar combined
  }

  &__m300 {
    padding-top: calc(107px + 4rem); // 107px is the height of the topbar and navbar combined
  }

  &__heading {
    line-height: .9;
    text-align: center;
    text-transform: uppercase;

    &--congrats {
      @include breakpoint(sm-tablet) {
        content: "Congrats!";
      }
    }

    &--left {
      text-align: left;

      @include breakpoint(lg-tablet) {
        text-align: center;
      }
    }

    &--sm-width {
      max-width: 13ch;
    }

    emphasis {
      color: var(--blue-500);
    }

    &::after {
      position: absolute;
      z-index: -2;
      top: 2rem;
      left: 50%;
      width: 400px;
      height: 200px;

      content: "";
      transform: translateX(-50%);
      background-color: var(--blue-100);
      filter: blur(90px);
    }
  }

  &__subheading {
    @include breakpoint(md-tablet) {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    width: 1080px;
    margin: 0 auto;

    @include breakpoint(lg-tablet) {
      width: 100%;
    }

    @include breakpoint(md-tablet) {
      flex-direction: column;
      padding: 0rem 2rem 23rem;
      gap: 0;
      align-items: center;
    }

    @include breakpoint(md-mobile) {
      gap: 2rem;
      padding: 0rem 1rem 18rem;
    }
  }

  &__left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 490px;

    @include breakpoint(md-tablet) {
      align-items: center;
      text-align: center;
    }

    &--product {
      line-height: 1.2;
      margin-bottom: 5vh;
    }
  }

  &__right-side {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 50%;

    @include breakpoint(lg-tablet) {
      width: 400px;
    }

    @include breakpoint(md-tablet) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__video {
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-high);
    width: 100%;

    @include breakpoint(lg-tablet) {
      width: 370px;
      height: 210px;
    }
  }

  &__body {
    color: var(--blue-gray-600);
    font-size: clamp(0.8rem, 2vw, 1rem);

    @include breakpoint(lg-tablet) {
      text-align: center;
      margin: 0 auto;
    }

    &--home {
      max-width: 55ch;

      @include breakpoint(lg-tablet) {
        max-width: 45ch;
      }

      @include breakpoint(sm-tablet) {
        max-width: 30ch;
      }
    }

    &--team {
      max-width: 45ch;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(lg-tablet) {
      align-items: center;
      text-align: center;
    }

    &__btn {
      padding: 5px 15px;
      color: white;
      background-color: var(--blue-500);
    }
  }

  &__3d-m300-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    &--i300 {
      height: 400px;

      @include breakpoint(md-mobile) {
        height: 300px;
      }
    }
  }

  &__3d-m300 {
    position: absolute;
    top: 9rem;
    left: 50%;
    height: 0;
    margin: 0 auto;
    padding: 0;
    transform: scale(.6) translateX(-50%);
    perspective: 1000px;
    --fan-tx: -175%;

    @include breakpoint(lg-tablet) {
      top: 5rem;
      transform: scale(.45) translateX(-50%);
    }

    @include breakpoint(md-tablet) {
      top: 10rem;
      transform: scale(.5) translateX(-50%);
    }

    @include breakpoint(sm-tablet) {
      transform: scale(.5) translateX(-50%);
    }

    @include breakpoint(sm-tablet) {
      top: 6rem;
      transform: scale(.5) translateX(-50%);
    }

    @include breakpoint(sm-mobile) {
      transform: scale(.4) translateX(-50%);
    }

    *:not(:empty) {
      transform-style: preserve-3d;
    }

    &--large {
      position: relative;
      top: 0;
      transform: scale(.7);

      @include breakpoint(lg-tablet) {
        top: -3rem;
        left: -6rem;
        transform: scale(.5);
      }

      @include breakpoint(sm-tablet) {
        left: auto;
      }
    }
  }

  &__2d-i300 {
    width: 400px;

    @include breakpoint(md-mobile) {
      width: 300px;
    }
  }

  &__black-friday {
    position: absolute;
    transform: scale(1.5) translate(28px, -190px);

    @include breakpoint(lg-tablet) {
      transform: scale(1.3) translate(-17%, -215px);
    }

    @include breakpoint(md-tablet) {
      transform: scale(.8) translate(-65%, -325px);
    }

    @include breakpoint(md-mobile) {
      transform: scale(.9) translate(-60%, -235px);
    }
  }

  &__img {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, .2));

    img {
      width: 250px;

      @include breakpoint(lg-tablet) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-anchor {
      position: relative;

      &::after {
        position: absolute;
        z-index: -1;
        right: -90px;
        bottom: -10px;
        width: 120px;
        height: 120px;
        content: "";
        background-image: url(../images/illustrations/question-marks.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__event {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    padding: 5px 15px;
    transition: all 150ms ease-out;
    text-align: center;
    color: var(--blue-900);
    border: 1px solid var(--blue-200);
    border-radius: 100vh;
    background-color: var(--blue-50);

    @media (max-width: 425px) {
      gap: .3rem;
    }

    &--disclaimer {
      border: 1px solid var(--yellow-500);
      background-color: var(--yellow-100);
    }
  }

  &__partnership {
    background-image: url("../images/backgrounds/bg-vosk.svg");
    background-repeat: no-repeat;
    background-position: 55% 20%;

    @include breakpoint(lg-tablet) {
      background-position: 52.5% 23%;
    }

    @include breakpoint(md-tablet) {
      background-position: 51% 24.5%;
    }

    @include breakpoint(sm-tablet) {
      background-position: 50.5% 26%;
    }

    h1 {
      font-family: "Right Grotesk Spatial Fine", Inter, Roboto, sans-serif;
      font-size: 1.25rem;
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #000;
    }
  }
}