@use "../base/breakpoints" as *;

.merch {
  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint(lg-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(sm-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__grid-item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--blue-gray-300);
    box-shadow: 0px 4px 8px -2px hsla(213, 78%, 16%, 0.2);

    &-content {
      padding: 1.5rem;
    }

    &-img {
      max-height: 200px;
      overflow: hidden;
    }

    h6 {
      border: 1px solid var(--blue-900);
      border-radius: 5px;
      padding: 0.1rem 0.4rem;
      font-size: 1rem;
      line-height: 1.4;
    }

    p {
      letter-spacing: 0px;
      font-size: 0.8rem;
      color: var(--blue-gray-500);
    }
  }
}
