@use "../base/breakpoints" as *;

.press {
  overflow: hidden;

  @include breakpoint(lg-tablet) {
    background-position: center 15%;
    background-size: 900px;

    .hero {
      @include breakpoint(md-tablet) {
        overflow: visible;
      }
    }
  }

  &__animation {
    position: relative;
    z-index: -1;
    opacity: 0.6;

    &-container {
      position: fixed;
      top: 0;
      transform: translateX(16%);

      @include breakpoint(lg-tablet) {
        transform: translateX(-7%);
      }

      @include breakpoint(md-mobile) {
        transform: translateX(-33%);
      }
    }

    .grid-lines {
      fill: none;
      stroke: var(--blue-gray-100);
      stroke-miterlimit: 10;
    }
  }

  // animated stars on the background grid if the browser supports it
  @supports (offset-path: inherit) {
    .star {
      width: 40px;
      height: 2px;
      background: linear-gradient(270deg, var(--blue-500), transparent);
      border-radius: 0;
      offset-distance: 0;
      animation: rising-star 5s ease-in infinite;
      opacity: 0;
      transform-origin: center center;
    }

    .star-1 {
      offset-path: path("M480.5 700 L480.5 100");
      animation-delay: 2s;
    }

    .star-2 {
      offset-path: path("M320.5 700 L320.5 100");
      animation-delay: 0;
    }

    .star-3 {
      offset-path: path("M240.5 700 L240.5 100");
      animation-delay: 1s;
    }

    .star-4 {
      offset-path: path("M160.5 700 L160.5 100");
      animation-delay: 0.3s;
    }

    .star-5 {
      offset-path: path("M400.5 700 L400.5 100");
      animation-delay: 1.2s;
    }

    .star-6 {
      offset-path: path("M560.5 700 L560.5 100");
      animation-delay: 0.75s;
    }

    @keyframes rising-star {
      0% {
        offset-distance: 0;
        motion-offset: 0;
        opacity: 0;
      }

      50% {
        opacity: 50%;
      }

      80% {
        offset-distance: 100%;
        motion-offset: 100%;
        opacity: 0;
      }
    }
  }

  #announcements {
    margin-top: calc(-129px - 6rem);
    padding-top: calc(129px + 6rem);
  }

  &__release {
    padding-top: calc(129px + 2rem);

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 3rem;

      @include breakpoint(md-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint(md-mobile) {
        grid-template-columns: 1fr;
      }
    }

    &-link {
      display: inline-flex;
      background-color: var(--blue-gray-50);
      border: 1px solid var(--blue-gray-100);
      border-radius: 10px;
      padding: 1rem;
      transition: transform 150ms ease-out, border 150ms ease-out, box-shadow 150ms ease-out;

      &:hover {
        transform: translateY(-5px);
        border: 1px solid var(--blue-500);
        box-shadow: var(--shadow-elevation-high);
      }
    }

    &-post {
      display: grid;
      grid-template-rows: 1fr auto;
      gap: 1rem;
      justify-content: space-between;

      @include breakpoint(sm-tablet) {
        grid-template-columns: 1fr;
      }
    }

    &-grid {
      display: grid;
      grid-template-rows: 15px auto auto;
      gap: 0.5rem;
    }

    &-date {
      color: var(--blue-gray-400);
    }

    &-tag {
      font-size: clamp(0.6rem, 1vw, 0.65rem);
      padding: 0.05rem 0.4rem;
      border-radius: 100vh;

      &--announcement {
        background-color: var(--blue-gray-100);
        color: var(--blue-gray-700);
      }

      &--article {
        background-color: var(--blue-100);
        color: var(--blue-700);
      }

      &--podcast {
        background-color: var(--yellow-100);
        color: var(--yellow-700);
      }
    }

    &-title {
      font-size: clamp(0.9rem, 2vw, 1rem);
      line-height: 1.3;
      color: var(--blue-gray-900);
      font-weight: 600;
    }

    &-body {
      font-size: clamp(0.8rem, 1vw, 0.75rem);
      letter-spacing: 0;
    }

    &-img {
      max-width: 140px;
      object-fit: contain;
    }
  }

  &__cta {
    padding: 6rem 0;

    h3 {
      max-width: 29ch;
      line-height: 1.3;
    }

    .btn {
      margin-top: 2rem;
    }
  }
}