@use "../base/breakpoints" as *;

.recruitment {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .about {
    &__img {
      border-radius: 10px;
    }
  }

  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint(sm-desktop) {
      grid-template-columns: repeat(1, 1fr);
    }

    &__img-container {
      border-radius: 10px;
    }

    &__img {
      width: 100px;
      max-height: 300px;
      object-fit: cover;
      aspect-ratio: 1;
      border-radius: 10px;

      &--full-width {
        width: 100%;
      }
    }
  }

  .col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    &__img-container {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
    }

    &__img {
      width: 200px;
      object-fit: none;
      aspect-ratio: 1;
      border-radius: 10px;

      &--full-width {
        width: 100%;
      }
    }

    &__img-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 0.5rem 0;
      color: var(--blue-50);
      font-family: var(--medium-font);
      text-transform: uppercase;
      letter-spacing: 0.5px;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        padding: 2rem 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  .mission {
    position: relative;
    background-color: var(--blue-50);
    padding: 3rem 0;
    border-radius: 10px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      background-image: url("../../../images/photos/team/indeed-header.png");
      background-position: center 50%;
      background-repeat: no-repeat;
    }

    h3 {
      position: relative;
      z-index: 2;
      font-family: var(--heavy-compact-font);
      font-size: clamp(2rem, 3vw, 3rem);
      letter-spacing: 0.5px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
    }

    h4 {
      font-family: var(--medium-font);
      font-weight: 500;
      text-align: center;
      color: var(--blue-500);
    }
  }

  .perks {
    &__icons {
      @include breakpoint(md-tablet) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: flex-start;
        gap: 3rem;
      }

      @include breakpoint(md-mobile) {
        gap: 1rem;
      }
    }

    &__icon {
      height: 96px;
      width: 96px;
      transition: transform 0.2s ease-in-out;

      @include breakpoint(md-tablet) {
        height: 64px;
        width: 64px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    h5 {
      text-align: center;
      font-size: 0.8rem;

      @include breakpoint(md-tablet) {
        text-align: left;
      }
    }
  }

  .hybrid {
    @include breakpoint(md-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    &__row {
      height: 150px;

      @include breakpoint(md-tablet) {
        height: auto;
      }
    }

    &__title-container {
      width: 100%;
      height: 100%;
      background-color: var(--blue-gray-50);
      padding: 0.5rem 1rem;
      border: 1px solid var(--blue-gray-200);
      border-radius: 5px;

      @include breakpoint(md-mobile) {
        height: 100px;
      }
    }

    &__title {
      font-size: 1.2rem;
      line-height: 1.1;
    }

    &__subtitle {
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 0px;
    }

    &__day-container {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;

      &:hover {
        outline: 2px solid var(--blue-200);
      }

      &--off {
        filter: grayscale(1) opacity(0.4);
      }
    }

    &__day {
      font-size: 0.8rem;
      background-color: var(--blue-900);
      color: var(--blue-50);
      text-align: center;
      padding: 0.3rem 0;
    }

    &__location-container {
      background-color: var(--blue-500);
      height: 100%;

      @include breakpoint(md-tablet) {
        padding: 1rem 0;
      }

      &--remote {
        background-image: linear-gradient(-37.5deg,
            rgb(5, 80, 179) 0%,
            rgb(5, 80, 179) 49.8%,
            rgba(48, 127, 226, 1) 50.2%,
            rgba(48, 127, 226, 1) 100%);
      }
    }

    &__location {
      font-family: var(--heavy-compact-font);
      color: var(--blue-50);
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 1;
    }

    &__icon {
      width: 32px;
      height: 32px;
    }
  }

  .environment {
    &__gallery {
      position: relative;
      border-radius: 10px;
      overflow: hidden;

      &-img {
        width: 200px;
        max-height: 300px;
        object-fit: none;
        aspect-ratio: 16/9;
        border-radius: 10px;

        @include breakpoint(md-tablet) {
          object-fit: cover;
        }

        &--full-width {
          width: 100%;
        }

        &--halloween {
          object-position: top;
        }
      }

      &-img-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        padding: 0.5rem 0;
        color: var(--blue-gray-50);
        font-family: var(--medium-font);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        }
      }
    }
  }

  .diversity {
    &__img {
      max-height: 400px;
      object-fit: none;
      object-position: center 30%;
      border-radius: 10px;

      @include breakpoint(md-mobile) {
        height: 400px;
      }
    }
  }

  .tech {
    &__video {
      border-radius: 10px;
      overflow: hidden;

      @include breakpoint(sm-desktop) {
        width: auto;
      }
    }
  }

  .join-us {
    padding-bottom: 4rem;
  }
}