// Color Palette

:root {
  --blue-50: hsl(202, 100%, 95%);
  --blue-100: hsl(204, 100%, 86%);
  --blue-200: hsl(206, 93%, 73%);
  --blue-300: hsl(208, 88%, 62%);
  --blue-400: hsl(210, 83%, 53%);
  --blue-500: hsl(213, 75%, 54%);
  --blue-600: hsl(214, 95%, 36%);
  --blue-700: hsl(215, 96%, 32%);
  --blue-800: hsl(216, 98%, 25%);
  --blue-900: hsl(218, 100%, 17%);

  --blend-color-dark: hsla(0, 0%, 0%, 0.5);
  --blend-color-light: hsla(255, 255%, 100%, 0.5);

  --warm-gray-50: hsl(0, 0%, 99%);
  --warm-gray-100: hsl(0, 0%, 95%);
  --warm-gray-200: hsl(210, 4%, 90%);
  --warm-gray-300: hsl(211, 5%, 80%);
  --warm-gray-400: hsl(211, 5%, 70%);
  --warm-gray-500: hsl(211, 5%, 60%);
  --warm-gray-600: hsl(211, 5%, 50%);
  --warm-gray-700: hsl(211, 5%, 40%);
  --warm-gray-800: hsl(211, 5%, 30%);
  --warm-gray-900: hsl(211, 5%, 20%);

  --cool-gray-50: hsl(210, 33%, 97%);
  --cool-gray-100: hsl(207, 15%, 91%);
  --cool-gray-200: hsl(210, 16%, 82%);
  --cool-gray-300: hsl(211, 13%, 65%);
  --cool-gray-400: hsl(211, 10%, 53%);
  --cool-gray-500: hsl(211, 12%, 43%);
  --cool-gray-600: hsl(209, 14%, 37%);
  --cool-gray-700: hsl(209, 18%, 30%);
  --cool-gray-800: hsl(209, 20%, 25%);
  --cool-gray-900: hsl(210, 24%, 16%);

  --blue-gray-50: hsl(210, 36%, 96%);
  --blue-gray-100: hsl(212, 33%, 89%);
  --blue-gray-200: hsl(210, 31%, 80%);
  --blue-gray-300: hsl(211, 27%, 70%);
  --blue-gray-400: hsl(209, 23%, 60%);
  --blue-gray-500: hsl(210, 22%, 49%);
  --blue-gray-600: hsl(209, 28%, 39%);
  --blue-gray-700: hsl(209, 34%, 30%);
  --blue-gray-800: hsl(211, 39%, 23%);
  --blue-gray-900: hsl(209, 61%, 16%);

  --red-50: hsl(360, 100%, 97%);
  --red-100: hsl(360, 82%, 89%);
  --red-200: hsl(360, 77%, 78%);
  --red-300: hsl(360, 71%, 66%);
  --red-400: hsl(360, 64%, 55%);
  --red-500: hsl(360, 67%, 44%);
  --red-600: hsl(360, 72%, 38%);
  --red-700: hsl(360, 79%, 32%);
  --red-800: hsl(360, 85%, 25%);
  --red-900: hsl(360, 92%, 20%);

  --yellow-50: hsl(49, 100%, 96%);
  --yellow-100: hsl(48, 100%, 88%);
  --yellow-200: hsl(48, 95%, 76%);
  --yellow-300: hsl(48, 94%, 68%);
  --yellow-400: hsl(44, 92%, 63%);
  --yellow-500: hsl(42, 87%, 55%);
  --yellow-600: hsl(36, 77%, 49%);
  --yellow-700: hsl(29, 80%, 44%);
  --yellow-800: hsl(22, 82%, 39%);
  --yellow-900: hsl(15, 86%, 30%);

  --teal-50: hsl(165, 67%, 96%);
  --teal-100: hsl(163, 75%, 87%);
  --teal-200: hsl(162, 73%, 74%);
  --teal-300: hsl(164, 70%, 63%);
  --teal-400: hsl(166, 64%, 49%);
  --teal-500: hsl(168, 78%, 41%);
  --teal-600: hsl(170, 91%, 32%);
  --teal-700: hsl(172, 94%, 26%);
  --teal-800: hsl(172, 98%, 20%);
  --teal-900: hsl(176, 100%, 13%);

  --animation-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);

  --shadow-color: 214deg 37% 59%;

  --shadow-elevation-low:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.7px 0.8px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 1.8px 2px -2.5px hsl(var(--shadow-color) / 0.34);

  --shadow-elevation-medium:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 3.7px 4.2px -1.7px hsl(var(--shadow-color) / 0.36),
    0.1px 9px 10.1px -2.5px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-high:
    0px 0.3px 0.2px hsl(var(--shadow-color) / 0.64),
    0px 0.4px 0.3px -0.7px hsl(var(--shadow-color) / 0.56),
    0px 1.1px 0.8px -1.4px hsl(var(--shadow-color) / 0.48),
    0px 2.9px 2.2px -2.1px hsl(var(--shadow-color) / 0.4),
    0px 6.5px 4.9px -2.9px hsl(var(--shadow-color) / 0.32),
    -0.1px 12.3px 9.2px -3.6px hsl(var(--shadow-color) / 0.24),
    -0.1px 21px 15.8px -4.3px hsl(var(--shadow-color) / 0.16),
    -0.2px 33.2px 24.9px -5px hsl(var(--shadow-color) / 0.08);
}