*,
*::before,
*::after {
  box-sizing: border-box;
}

.only-safari {
  animation: none !important;
}

/* fixes the stutter bug caused by SmoothScroller (GSAP) on Microsoft Edge and Google Chrome */
#smooth-content {
  will-change: transform;
}

/* The code below disables the CSS minipod animation in Safari v11+ 
because it causes the animation to appear janky. This is a known issue with Safari. */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .fan-swing-base {
      animation: none !important;
    }
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; 

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Roboto, sans-serif;
  line-height: 1.4;
  color: var(--blue-900);
  background-color: white;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a,
button {
  text-decoration: none;
  color: var(--blue-500);

  &:focus-visible {
    outline: 0 none;
    box-shadow: 0 0 0 3px var(--blend-color-light), 0 0 0 3px var(--blue-500);
    border-color: var(--blue-500);
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
}

button {
  font-family: Inter, Roboto, sans-serif;
}

// Scrollbar Adjustments

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-200);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-400);
}