@use "../base/breakpoints" as *;

:root {
  --heading-font: "Right Grotesk Wide Black", Inter, Roboto, sans-serif;
  --body-font: Inter, Roboto, sans-serif;
}

h1 {
  font-size: 4.052rem;
  font-weight: 900;
  letter-spacing: -0.5px;
  font-family: var(--heading-font);

  @include breakpoint(lg-tablet) {
    font-size: 3.25rem;
  }

  @media (max-width: 450px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.1px;
}

h3 {
  font-size: 1.563rem;
  font-weight: 600;
  letter-spacing: -1px;

  @media (max-width: 450px) {
    line-height: 1;
  }
}

h4 {
  font-size: 1.563rem;
  font-weight: 600;
  letter-spacing: -0.5px;

  @media (max-width: 450px) {
    line-height: 1;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

h6 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.2px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.3px;
}

small {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: -0.1px;
}

.text {
  &__heading {
    font-size: 2.441rem;
    line-height: 1.1;
    letter-spacing: -1px;

    @media (max-width: 568px) {
      text-align: center;

      &--col {
        flex-direction: column;
      }
    }
  }

  &__body {
    max-width: 45ch;
    color: var(--blue-gray-600);

    @media (max-width: 568px) {
      max-width: 30ch;
    }
  }

  &--emphasis {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--light-blue {
    color: var(--blue-50);
  }

  &--red {
    color: var(--red-400);
  }

  &--yellow {
    color: var(--yellow-600);
  }

  &--teal {
    color: var(--teal-500);
  }

  &--blue {
    color: var(--blue-500);
  }

  &--dark-blue {
    color: var(--blue-900);
  }

  &--white {
    color: white;
  }

  &--center {
    text-align: center;
  }

  &--discount {
    text-decoration: line-through;
  }
}
