@use "../base/breakpoints" as *;

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row-desktop {
  @include breakpoint(lg-tablet) {
    flex-direction: row;
  }
}

.flex-col {
  &--lg-tablet {
    @include breakpoint(lg-tablet) {
      flex-direction: column;
    }
  }

  &--sm-mobile {
    @include breakpoint(sm-mobile) {
      flex-direction: column;
    }
  }
}

.flex-col-mobile {
  @include breakpoint(md-tablet) {
    flex-direction: column;
  }
}

.ai-c {
  align-items: center;
}

.ai-b {
  align-items: baseline;
}

.ai-end {
  align-items: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.gap {
  &--xsm {
    gap: 0.25rem;
  }

  &--sm {
    gap: 0.5rem;
  }

  &--md {
    gap: 1rem;
  }

  &--lg {
    gap: 1.5rem;
  }

  &--xlg {
    gap: 2rem;
  }

  &--xxlg {
    gap: 3rem;
  }
}