@use "../base/breakpoints" as *;

form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  background-color: var(--blue-600);
  max-width: 600px;
  padding: 2rem;
  border-radius: 10px;

  @include breakpoint(lg-tablet) {
    margin: 0 auto;
  }

  @include breakpoint(sm-tablet) {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;

  &:checked + label {
    color: var(--blue-900);
    background-color: var(--blue-100);

    &::after {
      background-color: var(--blue-500);
    }

    &::before {
      border: 1px solid var(--blue-gray-600);
    }
  }

  &:focus + label {
    outline: 0 none;
    box-shadow: inset 0 0 0 3px var(--blend-color-light), inset 0 0 0 3px var(--blue-500);
    border-color: var(--blue-500);
  }
}

label {
  position: relative;
}

.form {
  margin-bottom: 10vh;
  padding: 0 2rem;

  &__container {
    max-width: 590px;
  }

  &__vosk {
    padding: 0;
  }
}

.fieldset__order,
.fieldset__message {
  display: none;
}

#inquiry:checked .fieldset__message {
  display: flex;
}

select {
  height: 36px;
  padding-left: 7px;
}

// changes autofill color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--blue-100) inset !important;
}


// changes focus color
label:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0 none;
  box-shadow: inset 0 0 0 3px var(--blend-color-light), inset 0 0 0 3px var(--blue-500);
  border-color: var(--blue-500);
}

input::placeholder,
textarea::placeholder {
  color: var(--blue-gray-400);
  font-size: 0.8rem;
}

textarea {
  font-family: Inter, Roboto, sans-serif;
  resize: vertical;
}

.fieldset {
  position: relative;

  &__1-col {
    grid-column: span 1;
  }

  &__2-col {
    grid-column: span 2;

    @include breakpoint(sm-tablet) {
      grid-column: span 6;
    }
  }

  &__3-col {
    grid-column: span 3;

    @include breakpoint(sm-tablet) {
      grid-column: span 6;
    }
  }

  &__6-col {
    grid-column: span 6;

    @include breakpoint(sm-tablet) {
      grid-column: span 6;
    }
  }

  &__label {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    background-color: var(--blue-gray-50);
    color: var(--blue-gray-600);
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  &__text,
  &__select {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0;
    background-color: white;
    border-radius: 0 0 5px 5px;
    font-family: Inter, sans-serif;
  }

  &__radio {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0.7rem 0 0.6rem 2.2rem;
    font-size: 0.8rem;
    background-color: white;
    color: #000;

    @include breakpoint(sm-tablet) {
      font-size: 0.8rem;
    }

    @include breakpoint(md-mobile) {
      font-size: 0.7rem;
      padding-left: 1.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 100vh;

      @include breakpoint(md-mobile) {
        left: 12px;
        width: 4px;
        height: 4px;
        border-radius: 100vh;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border: 1px solid var(--blue-gray-200);
      border-radius: 100vh;

      @include breakpoint(md-mobile) {
        left: 9px;
        width: 10px;
        height: 10px;
        border-radius: 100vh;
      }
    }

    &--add-border {
      border-right: 1px solid var(--blue-gray-50);
      border-left: 1px solid var(--blue-gray-50);
    }

    &--add-br-radius {
      border-radius: 0 0 5px 0;
    }

    &--add-bl-radius {
      border-radius: 0 0 0 5px;
    }

    &--add-bottom-radius {
      border-radius: 0 0 5px 5px;
    }
  }

  &__message {
    @include breakpoint(sm-tablet) {
      height: 150px;
    }
  }
}