@use "../base/breakpoints" as *;

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "photo-1 photo-2 photo-main photo-main photo-5 photo-6"
    "photo-3 photo-4 photo-main photo-main photo-7 photo-8";

  @include breakpoint(lg-tablet) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "photo-main photo-main photo-main photo-main photo-main photo-main photo-main photo-main"
      "photo-1 photo-2 photo-3 photo-4 photo-5 photo-6 photo-7 photo-8";
  }

  @include breakpoint(md-tablet) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "photo-main photo-main photo-main photo-main photo-main photo-main photo-main photo-main"
      "photo-1 photo-1 photo-2 photo-2 photo-3 photo-3 photo-4 photo-4"
      "photo-5 photo-5 photo-6 photo-6 photo-7 photo-7 photo-8 photo-8";
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: #000;
  background-color: rgba(0, 0, 0, .9);

  &__img {
    object-fit: cover;
    scale: 0.6;
    border-radius: 20px;

    @include breakpoint(lg-tablet) {
      object-fit: contain;
      scale: .9;
      height: auto;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      border-radius: 10px;
    }
  }
}

.open {
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  text-shadow: 0 1px 2px #000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.photo {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--shadow-elevation-medium);
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: var(--shadow-elevation-high);
    transform: scale(1.05);
  }

  @include breakpoint(lg-tablet) {
    border-radius: 5px;
  }
}

.photo-main {
  grid-area: photo-main;

  @include breakpoint(lg-tablet) {
    height: 300px;
  }
}

.photo-1 {
  grid-area: photo-1;
}

.photo-2 {
  grid-area: photo-2;
}

.photo-3 {
  grid-area: photo-3;
}

.photo-4 {
  grid-area: photo-4;
}

.photo-5 {
  grid-area: photo-5;
}

.photo-6 {
  grid-area: photo-6;
}

.photo-7 {
  grid-area: photo-7;
}

.photo-8 {
  grid-area: photo-8;
}