.hero {
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 2rem;
  }

  &__main {
    padding: 9rem 2rem 12rem;

    @media (max-width: 768px) {
      padding: 4rem 2rem 30rem;
      flex-direction: column;
    }

    @media (max-width: 425px) {
      gap: 2rem;
    }
  }

  &__feature {
    padding: 6rem 2rem 12rem;
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      width: 400px;
      height: 200px;
      background-color: var(--blue-200);
      filter: blur(90px);
      z-index: -2;
    }

    &--product {
      line-height: 1.2;
      margin-bottom: 5vh;
    }
  }

  &__img {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));

    img {
      width: 250px;
    }

    &-anchor {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-image: url(../../../images/illustrations/question-marks.svg);
        background-repeat: no-repeat;
        right: -90px;
        bottom: -10px;
        width: 120px;
        z-index: -1;
        height: 120px;
        background-position: center;
      }
    }
  }

  &__event {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--blue-900);
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--blue-100);
    border: 1px solid var(--blue-200);
    border-radius: 100vh;
    transition: all 150ms ease-out;

    &:hover {
      background-color: var(--blue-200);
    }

    @media (max-width: 425px) {
      gap: 0.3rem;
    }
  }

  &__background {
    position: absolute;
    left: -260px;
    top: 0px;
    z-index: -1;
    transform: scale(0.6);
  }

  &__heading {
    display: flex;
    flex-direction: column;
    line-height: 1;
    max-width: 13ch;
    z-index: 9;

    emphasis {
      color: var(--primary-color);
    }
  }

  &__body {
    color: var(--cool-gray-600);

    &--home {
      max-width: 30ch;
    }

    &--team {
      max-width: 45ch;
    }
  }

  .cta {
    &__btn {
      background-color: var(--primary-color);
      padding: 5px 15px;
      color: white;
    }
  }
}
