@use "../base/breakpoints" as *;

.topbar {
  position: relative;
  z-index: 999;
  padding: 0.5rem;
  background: var(--red-500);

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-family: var(--medium-heading-font);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--red-50);

    @include breakpoint(md-mobile) {
      font-size: 0.7rem;
    }

    @include breakpoint(sm-mobile) {
      font-size: 0.6rem;
    }
  }

  &__checkmark {
    width: 12px;
    height: 12px;

    circle {
      fill: var(--red-50);
    }

    path {
      stroke: var(--red-500);
      stroke-width: 4px;
    }
  }
}